@import "variables";

body {
    background-color: $color-mirage;
    background-image: url('../images/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $font-stack;
    height: 100vh;
    position: relative;
}

.content {
    padding-top: 4em;    
}

.header {
    margin-bottom: 3.2em;
}

.overlay {
    background-color: rgba(18, 23, 37, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

main h1 {
    color: $color-turquoise;
    font-size: 1.625rem; /* 26px */
    font-weight: 400;
    line-height: 38px;;
    text-transform: uppercase;
}

main h1 .title-emphasis {
    color: $color-white;
}

.instruction {
    line-height: 1.6;
    color: $color-periwinkle-gray;
}

.featured-platforms {
    margin-top: 2.2em;
    margin-bottom: 2.5em;
}

.featured-platforms img {
    width: 100%;
}

input[type="text"].email{
    outline: none;
    box-shadow: none;
}

.email {
    font-size: 0.875em;
    padding: 0.5625em 2em;
}

.email,
.email:active,
.email:focus,
.email:target, 
.email:active:focus {
    background-color: $color-martinique;
    border-color: $color-martinique;
    color: $color-white;
}

.email::placeholder {
    font-weight: 900;
    color: $color-form-placeholder-text;
}

.email,
.btn-request {
    /* 2.875em --> 46px */
    height: calc(2.875em + .75rem + 2px);
}

button.btn:active,
button.btn:focus,
button.btn:target,
button.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-request,
.btn-request:active,
.btn-request:focus,
.btn-request:target,
.btn-request:active:focus {
    background-color: $color-turquoise;
    border-color: $color-turquoise;
    color: $color-mirage;
}

.btn-request {
    color: $color-button-text;
    font-weight: 600;
    text-transform: capitalize;
}

.btn-request:hover {
    background-color: $color-button-hover;
    color: $color-mirage;
}

