@charset "UTF-8";
/* Colours */
/* Typography */
html,
body {
  height: 100%;
}

body {
  background-color: #121725;
  background-image: url("../images/mobile/image-host.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Chivo", sans-serif;
  position: relative;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.content {
  padding-top: 4em;
}

.header {
  margin-bottom: 3.2em;
}

.overlay {
  background-color: rgba(18, 23, 37, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

main {
  margin-bottom: 48px;
}

main h1 {
  color: #54e6af;
  font-size: 1.625rem;
  /* 26px */
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
}

main h1 .title-emphasis {
  color: #ffffff;
}

.instruction {
  line-height: 1.6;
  color: #c2cbe5;
  margin-bottom: 0;
}

.featured-platforms {
  margin-top: 2.2em;
  margin-bottom: 2.5em;
}

.featured-platforms img {
  width: 100%;
}

input[type="email"].email {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.email {
  font-size: 0.875em;
  padding: 0.5625em 2em;
}

.email,
.email:active,
.email:focus,
.email:target,
.email:active:focus {
  background-color: #2c344b;
  border-color: #2c344b;
  color: #ffffff;
}

.email::-webkit-input-placeholder {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

.email:-ms-input-placeholder {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

.email::-ms-input-placeholder {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

.email::placeholder {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.5);
}

.email,
.btn-request {
  /* 2.875em --> 46px */
  height: calc(2.875em + .75rem + 2px);
}

.email-error {
  color: #fb3e3e;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  display: none;
}

button.btn:active,
button.btn:focus,
button.btn:target,
button.btn:active:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-request,
.btn-request:active,
.btn-request:focus,
.btn-request:target,
.btn-request:active:focus {
  background-color: #54e6af;
  border-color: #54e6af;
  color: #121725;
}

.btn-request {
  color: #121725;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-request:hover {
  background-color: #b3ffe2;
  color: #121725;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-image: url("../images/tablet/image-host.jpg");
    background-position: right top;
    background-size: 476px;
  }
  .overlay {
    display: none;
  }
  .content {
    padding-top: 3.1em;
    padding-left: 2.5em;
    padding-right: 0;
  }
  .header {
    margin-bottom: 152px;
  }
  main {
    background-color: #121725;
    padding-top: 5.8125em;
    width: 635px;
    margin-bottom: 153px;
  }
  main h1 {
    font-size: 3rem;
    line-height: 1.2;
  }
  main .instruction {
    width: 27.8125em;
    font-size: 1.125rem;
    margin-bottom: 2.5em;
  }
  main .access-form {
    position: relative;
    margin-bottom: 2.5em;
  }
  main .access-form .email {
    width: 26.6875rem;
    padding-top: 0.875em;
    padding-bottom: 0.875em;
    height: 56px;
  }
  main .access-form .btn-request {
    position: absolute;
    top: 1.3125em;
    left: 16.25em;
    right: 5px;
    width: 10.125em;
    height: 2.875em;
  }
  main .featured-platforms {
    margin-top: 0;
    margin-bottom: 0;
    width: 33.5em;
  }
  .pattern-dots {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html,
  body {
    height: calc(100% + 200px);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url("../images/desktop/image-host.jpg");
    background-position: right top 8.125em;
    background-size: 888px 640px;
  }
  .content {
    padding-top: 8.125em;
    padding-left: 10.3125em;
    padding-right: 0;
  }
  .header {
    margin-bottom: 6.4375em;
  }
  main {
    padding-top: 3em;
    margin-bottom: 0;
  }
  main .access-form .btn-request {
    top: −0 0.6875;
  }
  .pattern-dots {
    position: relative;
  }
  .pattern-dots img {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/*# sourceMappingURL=style.css.map */