@import "variables";

html,
body {
  height: 100%;
}

body {
    background-color: $color-mirage;
    background-image: url('../images/mobile/image-host.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: $font-stack;
    position: relative;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content {
    padding-top: 4em;
}

.header {
    margin-bottom: 3.2em;
}

.overlay {
    background-color: rgba(18, 23, 37, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

main h1 {
    color: $color-turquoise;
    font-size: 1.625rem; /* 26px */
    font-weight: 400;
    line-height: 38px;;
    text-transform: uppercase;
}

main h1 .title-emphasis {
    color: $color-white;
}

.instruction {
    line-height: 1.6;
    color: $color-periwinkle-gray;
    margin-bottom: 0;
}

.featured-platforms {
    margin-top: 2.2em;
    margin-bottom: 2.5em;
}

.featured-platforms img {
    width: 100%;
}

input[type="text"].email{
    outline: none;
    box-shadow: none;
}

.email {
    font-size: 0.875em;
    padding: 0.5625em 2em;
}

.email,
.email:active,
.email:focus,
.email:target, 
.email:active:focus {
    background-color: $color-martinique;
    border-color: $color-martinique;
    color: $color-white;
}

.email::placeholder {
    font-weight: 900;
    color: $color-form-placeholder-text;
}

.email,
.btn-request {
    /* 2.875em --> 46px */
    height: calc(2.875em + .75rem + 2px);
}

button.btn:active,
button.btn:focus,
button.btn:target,
button.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-request,
.btn-request:active,
.btn-request:focus,
.btn-request:target,
.btn-request:active:focus {
    background-color: $color-turquoise;
    border-color: $color-turquoise;
    color: $color-mirage;
}

.btn-request {
    color: $color-button-text;
    font-weight: 600;
    text-transform: capitalize;
}

.btn-request:hover {
    background-color: $color-button-hover;
    color: $color-mirage;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    body {
        background-image: url('../images/tablet/image-host.jpg');
        background-position: right top;
        background-size: 476px;
    }

    .overlay {
        display: none;
    }

    .content {
        padding-top: 3.1em;
        padding-left: 2.5em;
        padding-right: 0;
    }

    .header {
        margin-bottom: 152px;
    }

    main {
        background-color: $color-mirage;
        padding-top: 5.8125em;
        width: 635px;

        & h1 {
            font-size: 3rem;
            line-height: 1.2;
        }

        & .instruction {
            width: 27.8125em;
            font-size: 1.125rem;
            margin-bottom: 2.5em;
        }

        & .access-form {
            position: relative;
            margin-bottom: 2.5em;

            & .email {
                width: 26.6875rem;
                padding-top: 0.875em;
                padding-bottom: 0.875em;
                height: 56px;
            }

            & .btn-request {
                position: absolute;
                top: 1.3125em;
                left: 16.25em;
                right: 5px;
                width: 10.125em;
                height: 2.875em;
            }
        }

        & .featured-platforms {
            margin-top: 0;
            margin-bottom: 0;
            width: 33.5em;
        }
    }

    .pattern-dots {
        position: absolute;
        bottom: 0;
    }
}